Repository spacetelescope/mirage, pull requests merged in 2019-10, with the labels that each got.

#375 Fix installation
  environment.yml
Labels: Environment

#380 Add grism files and temp nircam distortion files to downloads
  docs/reference_files.rst
  mirage/reference_files/downloader.py
Labels: High Priority, Reference Files, WFSS

#383 Fix non-Travis tests
  tests/test_data/NIRISS/niriss_imaging_test.yaml
  tests/test_data/NIRISS/niriss_nrm_test.yaml
  tests/test_filename_generation.py
  tests/test_yaml_generator.py
Labels: Reference Files, Testing

#386 Add reference pixel masking
  mirage/seed_image/catalog_seed_image.py
  mirage/wfss_simulator.py
Labels: Bug, WFSS, seed image

#388 Bug for sources just outside the aperture
  mirage/seed_image/catalog_seed_image.py
Labels: Bug, seed image

#398 Remove extra yaml file from notebook
  examples/Imaging_simulator_use_examples.ipynb
Labels: Convenience, Notebooks
