Repository spacetelescope/mirage, pull requests merged in 2020-08, with the labels that each got.

#529 Select appropriate NRM psf library
  examples/niriss_ami_example/niriss_ami_example.py
  mirage/psf/psf_selection.py
Labels: PSF Generation, seed image

#535 Keep filter and pupil straight in case of non-CLEAR pupil
  mirage/apt/read_apt_xml.py
Labels: APT reader, Bug

#537 Fix call to PA_V3 calculator
  mirage/yaml/yaml_generator.py
Labels: yaml_generator

#539 Add warning if grism_source_image is inconsistent with mode
  mirage/seed_image/catalog_seed_image.py
Labels: WFSS, seed image

#516 Galaxy stamp scaling and sizing
  mirage/seed_image/catalog_seed_image.py
  mirage/utils/constants.py
  mirage/utils/flux_cal.py
Labels: Enhancement, galaxy source, seed image

#545 Update jwst version spec to use @
  docs/install.rst
  environment.yml
Labels: Documentation, Environment

#488 WFSC Global Alignment fixes
  mirage/apt/read_apt_xml.py
  mirage/psf/segment_psfs.py
  tests/test_data/NIRCam/NIRCamTest.xml
Labels: WFSC

#546 Normalize segment PSFs correctly based on fractional area per segment
  mirage/psf/segment_psfs.py
Labels: Bug, WFSC

#492 Global alignment pointing file updates
  mirage/apt/apt_inputs.py
  mirage/apt/read_apt_xml.py
  mirage/psf/segment_psfs.py
  mirage/yaml/generate_observationlist.py
  mirage/yaml/yaml_generator.py
Labels: WFSC, yaml_generator
