Repository spacetelescope/mirage, pull requests merged in 2021-01, with the labels that each got.

#603 Check for aperture overrides before calculating exp times
  mirage/apt/apt_inputs.py
Labels: APT reader, yaml_generator

#597 [WIP]: Add optical ghosts to NIRISS simulations
  docs/catalogs.rst
  docs/ghosts.rst
  docs/index.rst
  docs/yaml_generator.rst
  examples/Imaging_simulator_use_examples.ipynb
  examples/NIRISS_WFSS_data_creation_example.ipynb
  mirage/catalogs/catalog_generator.py
  mirage/catalogs/spectra_from_catalog.py
  mirage/catalogs/utils.py
  mirage/config/niriss_ghost_gap_summary.txt
  mirage/ghosts/niriss_ghosts.py
  mirage/reference_files/downloader.py
  mirage/seed_image/catalog_seed_image.py
  mirage/utils/constants.py
  mirage/utils/flux_cal.py
  mirage/utils/utils.py
  mirage/wfss_simulator.py
  mirage/yaml/yaml_generator.py
  tests/test_catalog_generation.py
  tests/test_ghosts.py
Labels: extended source, seed image

#605 Add link to NIRISS ghosts on JDox
  docs/ghosts.rst
Labels: Documentation

#607 Improve OTE segment PSF handling to use hexike keywords, if present
  mirage/psf/segment_psfs.py
Labels: PSF Generation

#609 Add function for reading AMI template from APT file
  mirage/apt/apt_inputs.py
  mirage/apt/read_apt_xml.py
  mirage/yaml/yaml_generator.py
Labels: APT reader, Enhancement

#618 Update filter and mag_sys keywords
  docs/catalog_creation.rst
Labels: Documentation, catalogs
